extends layout

block body
  div(ng-controller='dashboard')
    div(class='row-fluid')
      div(ng-include='searchBar.url')
      div(ng-include='home.url')

  script(src='./deps/angular-1.2.14/angular.js')
  script(src='./deps/angular-1.2.14/angular-route.js')
  script(src='./deps/angular-1.2.14/angular-animate.js')
  script(src='./js/app.js')
  //- script(src='./js/services.js')
  script(src='./js/controllers/dashboard.js')
  //- script(src='./js/filters.js')
  //- script(src='./js/directives.js')
  script(src='./deps/js/classie.js')
  script(src='./deps/js/slide-left-nav.js') 
  script(src='./deps/d3/d3.js')