!!!
html(ng-app='appLegifrance')
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Legifrance seed
    //- link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='./deps/bootstrap/css/bootstrap.css')
    link(rel="stylesheet", href='./deps/css/base.css') 
  body
    block body